config LUA
	bool "Lua scripting language"
	default n
	depends on POSIX_API
	depends on PICOLIBC
	depends on FILE_SYSTEM
	help
	  This option adds the lua library to the zephyr build.

if LUA

# posible additional options, like for instance adding a shell command for a lua
# interpreter

endif
